body {
    text-align: center;
}

#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#stxs {
    color: coral;
}

#subhead {
    color: coral;
}

#video {
    background: #27ae60 100%;
}

#work {
    background: #27ae60 100%;
}
#house{
    background: #27ae60 100%;
}
#contact{
    background: #27ae60 100%;
}
#red{
    color: red;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
#yellow{
    color: yellow;
}